{% extends 'layouts.html' %}
{% load crispy_forms_tags %}
{% block title %}
   <title>Tambah Kategori</title>
{% endblock %}

{% block content %}
   <div class="containerteprod mt-5">
      <center><h1 class="mb-4">Tambah Kategori</h1></center>
      
      <div class="card shadow-lg border-light p-4">
            <form method="post" id="kategoriForm">
               {% csrf_token %}
               <!-- {{ form|crispy }} -->
               <div class="mb-3">
                  <center><p>Silakan isi Kategori baru yang akan ditambahkan ke sistem.</p></center>
               </div>
               <!-- Input Fields with Icons -->

               <div class="mb-3">
                  <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                        {{ form.nama_kategori}}
                  </div>
               </div>

               <!-- Submit button -->
               <div class="d-flex justify-content-center mt-4">
                  <button type="submit" class="btn btn-success btn-lg px-5" id="submitBtn">
                        <i class="fas fa-check"></i> Tambah Kategori
                  </button>
               </div>

            </form>
      </div>
   </div>




   
   <!-- SweetAlert Success/Failure -->
   <script>
        // SweetAlert on successful form submission
      const form = document.getElementById('kategoriForm');
      form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission
            // Display success message
            Swal.fire({
               title: 'Kategori Ditambahkan!',
               text: 'Kategori baru telah berhasil ditambahkan.',
               icon: 'success',
               confirmButtonText: 'OK',
               backdrop: true,
            }).then(() => {
                form.submit(); // Submit the form after showing the SweetAlert
            });
      });

        // Add hover effects to the button
      const submitBtn = document.getElementById('submitBtn');
      submitBtn.addEventListener('mouseover', function() {
            submitBtn.classList.add('btn-lg', 'btn-outline-success');
      });
      submitBtn.addEventListener('mouseout', function() {
            submitBtn.classList.remove('btn-outline-success');
      });
   </script>
{% endblock %}